%pseudo-elem-styles {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 2px;
  display: inline-block;
  background-color: #222;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  transition: all 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: #222;

  &__content {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 15px;
    position: relative;
  }

  &__header {
    position: relative;
  }

  &__header::after {
    @extend %pseudo-elem-styles;
    bottom: 0;
  }

  &__footer {
    position: relative;
  }

  &__footer::before {
    @extend %pseudo-elem-styles;
    top: 0;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
  }

  &__close:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
  }
}