.home {
  &__cards-list {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
  }
}

.modal-button {
  display: block;
  padding: 5px 80px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: 30px;
  outline: none;
  color: #222;
  font-size: 21px;

  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
