*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
  height: 100vh;
  background-color: #0071BC;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

ul[class] {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
