%button {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  right: 0;
}

%button-before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card {
  width: 222px;
  height: 320px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  &__img-wrapper {
    width: 220px;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__wish-button {
    @extend %button;
    top: 5px;
  }

  &__wish-button::before {
    @extend %button-before;
  }

  &__buy-button {
    @extend %button;
    bottom: -15px;
  }

  &__buy-button::before {
    @extend %button-before;
  }
  &__content {
    padding-right: 5px;
    padding-left: 5px;
  }

  &__content > p {
    margin: 0;
    color: #fff;
  }

  &__title {
    font-size: 21px;
  }

  &__author {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__artnum {
    font-size: 12px;
    font-weight: 300;
  }

  &__price {
    text-align: right;
    font-size: 21px;
    font-weight: 500; 
    transform: translateY(-60%);
  }
}