%content {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}
.added-card {
    height: 120px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 1);
    margin-bottom: 15px;
    &__img-wrapper {
        width: 120px;
        height: 120px;
    }

    &__img {
        width: 100%;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 20px;
        color: #fff;
    }

    &__content-left {
        @extend %content;
    }

    &__content-right {
        @extend %content;
        align-items: flex-end;
        padding-top: 7px;
    }

    &__remove {
        @extend %button;
        font-size: 21px;
        position: absolute;
        top: -18px;
        right: -22px;
        
    }
    
    &__title {
        font-size: 32px;
    }

    &__author {
        font-size: 25px;
        font-weight: 500;
    }

    &__artNum {
        font-size: 18px;
        font-weight: 300;
    }

    &__quantity-wrapper {
        width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #fff;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateX(5px)
    }

    &__quantity-sub {
        @extend %button;
        transform: translateY(-2px)
    }

    &__quantity-add {
        @extend %button;
    }

    &__quantity-count {
        font-size: 25px;
    }

    &__price {
        font-size: 28px;
    }
}
p[class] {
    margin: 0;
}