.form-input {
    margin-bottom: 15px;
    &__label {
        color: #fff;
    }

    &__field {
        display: block;
        padding: 8px 270px 8px 10px;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 10px;
    }

    &__field:focus {
        box-shadow: 0 0 2pt 1pt #222;
    }

    &__error-mg {
        color: tomato;
    }
}