.error-404 {
  color: #fff;
  text-align: center;

  &__inner {
    padding-top: 25vh;
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 500;
    position: relative;
  }

  &__subtitle::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: #fff;
    border-radius: 30px;
    bottom: -20px;
    left: calc(50% - 40px);
  }

  &__goToHome-btn-wrapper {
    color: #fff;
    font-size: 21px;
    margin-top: 30px;
  }

  &__goToHome-btn {
    color: #fff;
  }
}
