.wishlist {
  &__inner {
    padding-bottom: 40px;
  }

  &__default-text {
    color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    padding-top: 200px;
  }
}
