.checkout-form {
  &__inner {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    padding: 5px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #AFF4AD;
    border-radius: 30px;
    outline: none;
    color: #AFF4AD;
    font-size: 21px;
  }

  &__buttons:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__cancel-button {
    border: 1px solid tomato;
    color: tomato;
  }
}
