.cart {
  color: #fff;
  &__inner {
    padding-bottom: 80px;
  }

  &__checkout {
    background-color: #222;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__default-text {
    color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    letter-spacing: 20px;
    text-align: center;
    padding-top: 200px;
  }

  &__checkout__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    font-size: 21px;
  }

  &__checkout-button {
    padding: 5px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #aff4ad;
    border-radius: 30px;
    outline: none;
    color: #aff4ad;
    font-size: 21px;
  }

  &__checkout-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__checkout-button:disabled {
    color: tomato;
    border-color: tomato;
  }
}
