.nav {
  background-color: #222;
  &-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-text {
    font-size: 25px;
    letter-spacing: 5px;
  }
}

.right {
  display: flex;
  align-items: center;
}

.right li:not(:first-child) {
  margin-left: 50px;
}
